
:root {
    /* color */
    --color_blue: #66a0e2;
    --color_yellow: #f0ea58;
    --color_mint: #01f3a3;
    --color_black: #020a17;
    --color_beige: #fcf4ed;
    --color_light-grey: #bfbfbf;
    --color_grey: #626262;

    /* size */
    --body_size: 1200px;

    /* border */
    --border_basic: 3px solid #020a17;
    --border_light: 1px solid #bfbfbf;

    /* border-radius */
    --border_radius_1: 50%;
    --border_radius_2: 30px;
    --border_radius_3: 20px;
    --border_radius_4: 10px;

    /* font */
    --font_family_main: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
      "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    --font_family_sub: -apple-system, BlinkMacSystemFont, "Malgun Gothic",
      "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    --font_size_title_l: 35px;
    --font_size_title_m: 20px;
    --font_size_title_s: 15px;
    --font_size_cont_l: 14px;
    --font_size_cont_m: 12px;
    --font_size_cont_s: 8px;
  }

  /* 공통 */
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body {
    background-color: var(--color_beige);
  }
  .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
  main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 1200px;
  }

  /* 검색창 */
  .search_container{
    border: 1px solid black; height: 150px; 
    padding: 30px 5px 10px 100px ; position: relative;
  }

  .search{
    width: 1000px; line-height: 50px; margin-bottom: 8px; border-radius: var(--border_radius_2);
    float: right; border: 2px solid var(--color_black); 
  }
  .tag_box{ 
    position: absolute; top:80%; left: 18%;
  }
  .hashTag{
    border: 2px solid black; border-radius: var(--border_radius_2); text-decoration: none;
    color: var(--color_black); font-size: var(--font_size_cont_m); padding: 5px;
  }

  /* 모집 부분 */
  .result_container{
    height: 100%; float: left; border: 1px solid red;
    padding: 10px; padding: 10px 5px 10px 30px; position: relative;
  }
  /* 모집 부분 - menu-nav */
  .menu_nav{
    float: left; 
    border: 2px solid var(--color_black); width: 200px; height: 600px; margin-right: 30px;
    padding: 10px;
  }

  /* 스위치 버튼 */
  .recruit_state { position: relative; float: right;}
  .recruit_state_title{ font-size: var(--font_size_title_m);}
  #recruit_switch {
    position: absolute;
    /* hidden */
    appearance: none;   -webkit-appearance: none;  -moz-appearance: none;
  }
  .switch_label {
    position: relative; cursor: pointer; width: 58px; height: 20px;
    border: 2px solid var(--color_black); border-radius: 20px;
    float: right; margin-left: 5px;
  }
  .switch_btn {
    top: 5px;  left: 5px; display: inline-block;
    width: 25px;  height: 15px;  border-radius: 20px;  background: var(--color_blue);
  }
  
  #tag_title{
    font-size: var(--font_size_title_l); font-weight: bold;
  }

  /* 모집 부분 - study-card-container */
  .study_card_container{
    border: 2px solid var(--color_black); width: 900px; height: 1000px;  float: left; 
  }